<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588891112121-nkgpa704ni6ca6odcvbe6br6pkrs7s8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588891112121-nkgpa704ni6ca6odcvbe6br6pkrs7s8j</string>
	<key>API_KEY</key>
	<string>AIzaSyCcMWnMclYCU77aBSODsEG9xzKltqJtMbY</string>
	<key>GCM_SENDER_ID</key>
	<string>588891112121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.macawsw.macaw</string>
	<key>PROJECT_ID</key>
	<string>macaw-19170</string>
	<key>STORAGE_BUCKET</key>
	<string>macaw-19170.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588891112121:ios:e0a40477b72d7c05941168</string>
</dict>
</plist>